%table.table
  %thead
    %tr
      %th ID
      %th Username
      %th Group
      %th Company

  %tbody
    - collection.each do |row|
      %tr
        %td= row.id
        %td= row.username
        %td= row.group.try(:name)
        %td= row.customer.try(:name)