.alert.alert-info
  This view of Customer records is automatically restricted by cancannible.
  %ul
    %li The 'admin_user' can see all the records
    %li The 'group_user' has no permissions (and will not be able to even load this page).
    %li The 'limited_user' account has been given access to one specific customer.
    %li The 'customer_user' will only see their own customer record.

%table.table
  %thead
    %tr
      %th ID
      %th Name

  %tbody
    - collection.each do |row|
      %tr
        %td.test_id= row.id
        %td= row.name